h1 {
    color: red;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

p {
    color: royalblue;
    background-color: powderblue;
}
#A1{
    color: blue;
    background-color: cornsilk;
}

.heat-class {
    color:black;
    font-family: monospace;
    background-color: lightcyan;
}

* {
    color: black;
    background-color: powderblue;
  }

  h1,p,h3{
    color: red;
    font-size: larger;
  }