@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Source+Sans+Pro:wght@400;600;700&display=swap');
*{
    margin: 0%; padding: 0%;
}
.uppersection{
    padding-top: 1%;
    background-color: rgb(35, 171, 26);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}
.uppersection img{
    margin-left: 2%;
}
.uppersection h1{
    background-color: yellow;
    
    color: darkgreen;
    text-align: center;
    /* height: 30%; */
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30   px;
}
.uppersection h2{
    margin-top: 1%;
    color: white;
}
.lists{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(242, 144, 31);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    background-color: rgb(232, 178, 196);
    justify-content: space-around;
}
.left a{
    
    font-size: 20px;
    padding-top: 10%;
}